body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    position: relative;
}

#toggle-image {
    cursor: pointer;
    width: 300px;
    height: auto;
    transition: opacity 0.3s ease;
}
