/* إعدادات الصفحة */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#toggle-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* اجعل الصورة تغطي كامل الشاشة */
    cursor: pointer;
-webkit-tap-highlight-color: transparent; /* لمتصفحات الويب على الأجهزة المحمولة */
    touch-action: manipulation; /* تعطيل السلوك الافتراضي */
    user-select: none; /* منع تحديد النص أو الصور
}

/* نمط للعداد */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 48px;
    font-family: Arial, sans-serif;
}

/* إزالة التظليل الأزرق عند النقرال